@import (reference) '../styles/Variables.less';
@import (reference) '../styles/MediaQuery.less';

:global {
  html,
  body,
  #react-mount {
    height: 100%;
    padding: 0;
    margin: 0;
  }

  html {
    font-size: 100%;
    @media @fullscreen {
      font-size: 125%;
    }
    @media @medium {
      font-size: 75%;
    }
    @media @small {
      font-size: 65%;
    }
  }

  body {
    background: @black;
    color: @white;
    font-family: @contentFont;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
  }
}

.container {
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 1rem;
}
