<!DOCTYPE html>
<html>
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta property="og:title" content="Paul J Karlik | UI Architect and Creative Technologist" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="http://pjkarlik.com/images/splash.jpg" />
    <meta property="og:url" content="http://pjkarlik.com" />
    <meta property="og:description" content="Welcome to my active portfolio and experiments in interactive development. I am a UI Architect and Creative technologist living in the Washington DC Metro area." />
  </head>
  <style>
    @import url('https://fonts.googleapis.com/css?family=Lato|Comfortaa|PT+Mono|Press+Start+2P');
  </style>
  <body>
    <div id="react-mount" />
  </body>
</html>

<!--
  Hello, my name is:

  ██████╗  █████╗ ██╗   ██╗██╗              ██╗    ██╗  ██╗ █████╗ ██████╗ ██╗     ██╗██╗  ██╗
  ██╔══██╗██╔══██╗██║   ██║██║              ██║    ██║ ██╔╝██╔══██╗██╔══██╗██║     ██║██║ ██╔╝
  ██████╔╝███████║██║   ██║██║              ██║    █████╔╝ ███████║██████╔╝██║     ██║█████╔╝
  ██╔═══╝ ██╔══██║██║   ██║██║         ██   ██║    ██╔═██╗ ██╔══██║██╔══██╗██║     ██║██╔═██╗
  ██║     ██║  ██║╚██████╔╝███████╗    ╚█████╔╝    ██║  ██╗██║  ██║██║  ██║███████╗██║██║  ██╗
  ╚═╝     ╚═╝  ╚═╝ ╚═════╝ ╚══════╝     ╚════╝     ╚═╝  ╚═╝╚═╝  ╚═╝╚═╝  ╚═╝╚══════╝╚═╝╚═╝  ╚═╝

  I am a UI Architect, front-end developer, designer and all around computer nerd.

  I work building and defining unique interfaces with reproducable code that guide, engage,
  and respond to a user. I identify standards and solutions that are appropriate to our
  environment, evangliaze and drive technology, and generally make things that are pretty.

  contact: https://www.linkedin.com/in/paul-karlik-872aa724
-->
