@import (reference) '../styles/Variables.less';
@import (reference) '../styles/MediaQuery.less';

  @outlineColor: @white;
.stroke {
  text-shadow:
   -1px -1px 0 @outlineColor,
    1px -1px 0 @outlineColor,
    -1px 1px 0 @outlineColor,
     1px 1px 0 @outlineColor,
}

// Lower Badge Styles //
.badge {
  position: absolute;
  top: 75%;
  transform: translateY(-50%);
  right: 20px;
  padding: 0;
  text-align: right;
  z-index: 999;
}

.header {
  color: @white;
  display: inline-block;
  font-family: @headerFont;
  font-size: 5em;
  margin: .125em 0 0;
  padding: 0 .15em 0 .35em;
}

.tagline {
  color: @white;
  display: inline-block;
  font-family: @headerFont;
  font-size: 1em;
  line-height: 1.2;
  margin: 0 0 12px;
  vertical-align: bottom;
}


@nuColor1: #cb071f;
@nuColor2: #5f9825;
@nuColor3: #3c7f90;

@iterations: 3;
.header-loop (@i) when (@i > 0) {
  @colour: ~"@{nuColor@{i}}";
  .header span:nth-child(@{i}) {
    color: @colour;
  }
  .header-loop (@i - 1)
}
.header-loop (@iterations);
