@import (reference) '../styles/Variables.less';
@import (reference) '../styles/MediaQuery.less';

  @outlineColor: @white;
.stroke {
  text-shadow:
   -1px -1px 0 @outlineColor,
    1px -1px 0 @outlineColor,
    -1px 1px 0 @outlineColor,
     1px 1px 0 @outlineColor,
}

// Lower Badge Styles //
.badge {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.938em 1.25em 1.25em;
  text-align: right;
  z-index: 999;

  h3 {
    color: @white;
    display: inline-block;
    font-family: @headerFont;
    font-size: 1.25em;
    line-height: .989em;
    margin: 0;
    padding: 0 .15em 0 .125em;
  }

  p {
    color: @white;
    display: inline-block;
    font-family: @headerFont;
    font-size: .75em;
    margin: 0;
    padding-bottom: 0.188em;
    vertical-align: bottom;
  }
}
